@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for desktop */
.chart-text {
    font-size: 14px;
}

/* Smaller text for tablets */
@media (max-width: 768px) {
    .chart-text {
        font-size: 12px;
    }
}

/* Even smaller text for mobile devices */
@media (max-width: 480px) {
    .chart-text {
        font-size: 10px;
    }
}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }